
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ff5252;
    color: #ff5252;
}

.display-inline-block {
    display: inline-block;
}

.link-buttons {
    margin: 0 4px;
}